@using Repositorio.Entidades
@model List<Estoque>

<p class="h3">Saída de materiais</p>

<div class="row mb-3">
    <div class="text-end">
        <a asp-action="Cadastrar" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>Cadastrar
        </a>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>

        <tr>
            <th>Materiais</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estoque in Model)
        {
            <tr>
                <td>@estoque.MaterialId</td>
                <td>@estoque.Quantidade</td>
                <td>@estoque.Valor</td>
                <td>
                    <a class="btn btn-primary" asp-controller="EstoqueController" asp-action="editar" asp-route-id="@estoque.Id">
                        <i class="fa-solid fa-pencil"></i> Editar
                    </a>
                    <a class="btn btn-outline-danger" asp-controller="EstoqueController" asp-action="apagar" asp-route-id="@estoque.Id">
                        <i class="fa-solid fa-trash"></i> Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>